<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <title>Inicio</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/ProyectoDesblog/">Desblog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Buzos' %}">Buzos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pantalones' %}">Pantalones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Remeras' %}">Remeras</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  
  {% block contenido %}
  <h1> Bienvenido a Inicio </h1>
  <br>
  <h2>Regístrese</h2>
  <div class="contenidoUsuarios">
    <form class="formDataUsuarios" action="/ProyectoDesblog/" method="POST"> {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <input type="email" name="email" placeholder="Email">
        <button type="submit" class="btn btn-primary btndj">Registrar</button>
    </form>
  </div>
  <div>
    <form class="formDataUsuarios" action="/ProyectoDesblog/buscar_usuario/" method="GET">
        <input type="email" name="email" placeholder="Email">
        <button type="submit" class="btn btn-primary btndj">Buscar</button>
    </form>
  </div>
  <div>
    {% if usuarios %}
    <ul>
        {% for usuario in usuarios %}
        <li>{{usuario.nombre}}</li>
        <li>{{usuario.apellido}}</li>
        <li>{{usuario.email}}</li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endblock %}

</body>
</html>